.caract {
    margin: 0 17px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.caja {
    position: relative;
    height: 55vh;
    min-height: 500px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 25px;
}



/* Background image */
.caja-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease;
}

.caja:hover .caja-bg {
    transform: scale(1.1);
}

/* Overlay oscuro */
.caja-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    transition: background 0.3s ease;
}

.caja:hover .caja-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
}

/* Contenido */
.caja-content {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 10px 20px 20px 20px; /* Aumentar padding superior */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.caja h2 {
    color: white;
    font-family: "Manrope", Sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;

    transition: transform 0.3s ease;
}

.caja:hover h2 {
    transform: translateY(-10px);
}

.caja p {
    font-family: "Manrope", Sans-serif;
    font-weight: 400;
    color: white;
    line-height: 25px;
    font-size: 17px;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    text-align: justify;
}

.caja:hover p {
    max-height: 500px;
    opacity: 1;
   
}

/* Responsive */
@media screen and (max-width: 801px) {
    .caract {
        margin: 0 15px;
    }

    .car-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
    }

    /* En móvil, mantener la descripción siempre visible */
    .caja p {
        max-height: 500px;
        opacity: 1;
        margin-top: 10px;
    }

    .caja-overlay {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    }
}