 .features-section {
    padding: 80px 20px;
   
  }

  .features-container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .features-section h4{
            color: #F85C00;
    font-family: "Manrope", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    }

    .features-section h2{
            color: black;
    font-family: "Manrope", Sans-serif;
    font-size: 52px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: -0.015em;
    text-align: center;

    margin: 0;
    margin-bottom: 50px;
    }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .feature-card {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  .icon-box {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    background: #1a1a1a;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-box i {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
  }

  .feature-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: #1a1a1a;
     font-family: "Manrope", Sans-serif;
     margin-top: -2px;
  }

  .feature-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #6c757d;
     font-family: "Manrope", Sans-serif;
     text-align: justify;
  }

  /* Responsive */
  @media (max-width: 1024px) {
    .features-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  @media (max-width: 801px) {
    .features-section {
      padding: 60px 20px;
    }


    .features-section h2{
     font-size: 35px;
    margin-bottom: 30px;
    }

    .features-grid {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    .feature-card {
      gap: 15px;
    }

    .icon-box {
      width: 70px;
      height: 70px;
    }

    .icon-box i {
      font-size: 2rem;
    }

    .feature-content h3 {
      font-size: 1.25rem;
    }
  }