.elegirnos-cont{
    padding: 80px 100px;
}



 .elegirnos-cont h4{
            color: #F85C00;
    font-family: "Manrope", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    }

    .elegirnos-cont h2{
            color: black;
    font-family: "Manrope", Sans-serif;
    font-size: 56px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: -0.015em;
    text-align: center;
    text-transform: capitalize;
    margin:0;
    }