.serv-cont{
    padding: 80px 100px;
}


.grid-serv{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 60px;
}

 .serv-cont h4{
            color: #F85C00;
    font-family: "Manrope", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    }

    .serv-cont h2{
            color: black;
    font-family: "Manrope", Sans-serif;
    font-size: 56px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: -0.015em;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    }

    .elemento h5{
        margin-bottom: 15px;
    font-family: "Manrope", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    }

    .elemento p{
        font-family: "Manrope", Sans-serif;
    font-weight: 500;
    line-height: 1.9em;
    color: rgba(0, 0, 0, 0.573);
    }

    .elemento img{
        max-width: 20%;
        height: auto;
    }