.serv-cont{
    padding: 80px 100px;
}


.grid-serv{
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    gap: 60px;
    margin-top: 50px;
}

 .serv-cont h4{
            color: #F85C00;
    font-family: "Manrope", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    }

    .serv-cont h2{
            color: black;
    font-family: "Manrope", Sans-serif;
    font-size: 52px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: -0.015em;
    text-align: center;
   
    margin: 0;
    }

    .elemento h5{
        margin-bottom: 15px;
    font-family: "Manrope", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    }

    .elemento p{
        font-family: "Manrope", Sans-serif;
    font-weight: 500;
    line-height: 1.9em;
    color: rgba(0, 0, 0, 0.573);
    text-align: justify;
    }

    .elemento img{
        max-width: 20%;
        height: auto;
    }

    @media screen and (max-width:801px){

        .serv-cont{
    padding: 20px 25px;
}

        .grid-serv{
    grid-template-columns: repeat(1, minmax(0,1fr));
    gap: 40px;
}

 .serv-cont h2{

    font-size: 35px;
    margin-bottom: 30px;

    }
    }