---

import HeaderPagen from "../components/ingles/HeaderPagen.astro"
import Abouten from "../components/ingles/Abouten.astro"
import Experienciaen from "../components/ingles/Experienciaen.astro"
import Experten from "../components/ingles/Experten.astro"
import Banneren from "../components/ingles/Banneren.astro"
import Footeren from "../components/ingles/Footeren.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/faviconvel.png" />
		<meta name="generator" content={Astro.generator} />
		  <link rel="sitemap" href="/sitemap-index.xml" />
		<title>About Us | Velora</title>
<meta name="description" content="We specialize in transporting your goods safely, efficiently, and on time to any destination in the world.">
<meta name="keywords" content="international logistics, freight transport, customs agent Mexico, freight forwarding, import export">
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="googlebot" content="index, follow">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FTB26Z1MCL"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FTB26Z1MCL');
</script>

		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	</head>



   <HeaderPagen title='About Us'/>
   <Abouten />
<Experienciaen />
<Experten />
<Banneren />
<Footeren />
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
