---

import HeaderPages from '../components/HeaderPages.astro'
import Footer from '../components/Footer.astro'
import Tabla from '../components/Tabla.astro';
import Banner from '../components/Banner.astro';
import MotivationalBanner from '../components/MotivationalBanner.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/faviconvel.png" />
		<meta name="generator" content={Astro.generator} />
		  <link rel="sitemap" href="/sitemap-index.xml" />
			<title>Servicios | Velora</title>
<meta name="description" content="Con nuestra amplia red global de transportistas y años de experiencia en comercio internacional, garantizamos operaciones eficientes, itinerarios confiables y tarifas competitivas para empresas de cualquier tamaño.">
<meta name="keywords" content="logística internacional, transporte de carga, agente aduanal México, freight forwarding, importación exportación">
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="googlebot" content="index, follow">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FTB26Z1MCL"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FTB26Z1MCL');
</script>

		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	</head>
	<body>
		<HeaderPages title='Servicios'/>
	<Tabla />
	<MotivationalBanner />
	<Banner />
	<Footer />

	</body>
</html>


	
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
