---
import '../styles/aboutcomp.css'
import vertexImg1 from '../assets/vertex6.webp'
import vertexImg2 from '../assets/vertex7.webp'
---

<section class="about-section">
  <div class="about-container">
    <div class="about-images">
      <div class="image-large">
         <img
     src={vertexImg1.src}
     />
      </div>
      <div class="image-small">
        
      </div>
    </div>

   <div class="about-content">
  <span class="about-label">Acerca de Nosotros</span>
  <h2 class="about-title">Moviendo Carga, Conectando el Mundo</h2>
  <p class="about-description">
    En Vertex Freight Services, somos su aliado confiable en logística internacional. Nos especializamos 
en transportar su mercancía de forma segura, eficiente y puntual a cualquier destino del 
mundo. Con amplia experiencia en transporte de carga, almacenamiento y comercio internacional, 
fusionamos experiencia y tecnología para optimizar su cadena de suministro. Ya sean envíos 
pequeños o proyectos de gran escala, nuestro objetivo es simple: entregas que impulsan 
el éxito de su negocio sin límites geográficos.
  </p>
</div>
  </div>
</section>