---
import '../styles/caracteristicas.css'
---

<section class="caract">
    <div class="caract-cont">
        <div class="car-grid">
            <div class="caja">
                <div class="caja-bg" style="background-image: url('../assets/serv1-2.webp');"></div>
                <div class="caja-overlay"></div>
                <div class="caja-content">
                    <h2>Transporte Marítimo (Ocean Freight)</h2>
                    <p>En Vertex Freight Services brindamos soluciones de transporte marítimo rentables para carga consolidada y contenedores completos, apoyándonos en servicios de flete internacional confiables y una gestión integral de origen a destino.</p>
                </div>
            </div>
            <div class="caja">
                <div class="caja-bg" style="background-image: url('../assets/serv2-2.webp');"></div>
                <div class="caja-overlay"></div>
                <div class="caja-content">
                    <h2>Carga Aérea (Air Freight)</h2>
                    <p>Vertex Freight Services gestiona envíos aéreos para carga sensible al tiempo, utilizando rutas globales y ofreciendo visibilidad en tiempo real para garantizar rapidez, seguridad y cumplimiento internacional.</p>
                </div>
            </div>
            <div class="caja">
                <div class="caja-bg" style="background-image: url('../assets/serv3-2.webp');"></div>
                <div class="caja-overlay"></div>
                <div class="caja-content">
                    <h2>Transporte Terrestre (Trucking)</h2>
                    <p>Vertex Freight Services impulsa tu cadena de suministro con transporte terrestre trasnacional confiable entre México, Estados Unidos y Canadá. Facilitamos cruces fronterizos ágiles y entregas seguras dentro de cada país, conectando tus operaciones con eficiencia, rapidez y total respaldo logístico.. 
</p>
                </div>
            </div>
        </div>
    </div>
</section>