---
import '../styles/caracteristicas.css'
---

<section class="caract">
    <div class="caract-cont">
        <div class="car-grid">
            <div class="caja" style="background-image: linear-gradient(rgba(0, 0, 0, 0.366), rgba(0, 0, 0, 0.5)), url('../assets/a1-1536x861.webp');">
                <h2>advanced Real Time tracking system</h2>
                <p>Enter description</p>
            </div>
            <div class="caja" style="background-image: linear-gradient(rgba(0, 0, 0, 0.366), rgba(0, 0, 0, 0.5)), url('../assets/a1-1536x861.webp');">
                <h2>fully transparent freight pricing</h2>
                 <p>Enter description</p>
            </div>
            <div class="caja" style="background-image: linear-gradient(rgba(0, 0, 0, 0.366), rgba(0, 0, 0, 0.5)), url('../assets/a1-1536x861.webp');">
                <h2>comprehensive customs and compliance</h2>
                 <p>Enter description</p>
            </div>
        </div>
    </div>
</section>