---

// FeaturesGrid.astro
const features = [
  {
    title: 'Experiencia Logística Comprobada',
    description: 'Nuestros especialistas cuentan con décadas de experiencia en freight forwarding, freight brokerage y despacho aduanal, garantizando operaciones fluidas, eficientes y seguras en cadenas de suministro nacionales e internacionales, especialmente en operaciones México–Estados Unidos.'
  },
  {
    title: 'Compromiso con Entregas Rápidas y Confiables',
    description: 'Entendemos la urgencia de cada embarque. Por ello, actuamos con rapidez, optimizando rutas y utilizando tecnología de rastreo para asegurar entregas puntuales, minimizar retrasos y mantener el control total en operaciones cross-border.'
  },
  {
    title: 'Política de Precios Transparentes',
    description: 'Ofrecemos tarifas claras, competitivas y fáciles de entender. En Vertex Freight Services garantizamos cero cargos ocultos y total transparencia financiera, brindando confianza y previsibilidad en cada operación logística.'
  },
  {
    title: 'Manejo de carga confiable',
    description: 'Cada embarque es gestionado con precisión y cuidado para evitar riesgos. Desde el embalaje hasta la carga, garantizamos que su mercancía llegue de manera segura e intacta.'
  },
  {
    title: 'Soluciones Integrales',
    description: 'Cubrimos cada etapa de la logística, incluyendo almacenamiento, distribución y transporte de carga. Nuestros servicios integrados hacen que la gestión de la cadena de suministro sea simple y eficiente.'
  },
  {
    title: 'Garantía de satisfacción',
    description: 'Su confianza es nuestra máxima prioridad en todos los envíos. Respaldamos nuestros servicios con soporte responsivo y una sólida grantía de satisfacción al cliente.'
  }
];

import '../styles/elegirnos.css'
---

<section class="features-section">
     <h4>¿Por Qué Elegir a Vertex Freight Services?</h4>
        <h2>Vertex Freight Services:<br> su socio logístico de confianza para envíos a nivel mundial</h2>
  <div class="features-container">
    <div class="features-grid">
      {features.map(feature => (
        <div class="feature-card">
          <div class="icon-box">
            <i class="bi bi-check"></i>
          </div>
          <div class="feature-content">
            <h3>{feature.title}</h3>
            <p>{feature.description}</p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
