---
import '../styles/elegirnos.css'
---

<section class="elegirnos">
    <div class="elegirnos-cont">
         <h4>Why Choose Us</h4>
        <h2>Trusted Logistics Partner for <br>Worldwide Shipping
</h2>
    </div>
</section>