---
import '../styles/grid.css'
---

<section class="primercuadro">

</section>

<section class="cuadros-2">

    <div class="primero">

    </div>
    <div class="segundo">
        
    </div>
</section>
