---
import '../styles/servicios.css'

import Img1 from '../assets/1-1.png'
import Img2 from '../assets/2.png'
import Img3 from '../assets/3-1.png'
import Img4 from '../assets/4-1.png'
---

<section class="servicios">
    <div class="serv-cont">
        <h4>Nuestros Servicios</h4>
        <h2>Vertex Freight Services:<br> Socio logístico de confianza para envíos a nivel mundial</h2>

        <div class="grid-serv">
            <div class="elemento">
                <img 
                src={Img1.src}
                />
                <h5>Transporte Terrestre (Trucking)</h5>
                <p>En Vertex Freight Services ofrecemos transporte terrestre confiable para envíos dentro de Estados Unidos y operaciones transfronterizas México–USA, con opciones flexibles de flota adaptadas a cada necesidad logística.</p>
            </div>
              <div class="elemento">
                <img 
                src={Img2.src}
                />
                <h5>Carga Aérea (Air Freight)</h5>
                <p>Vertex Freight Services gestiona envíos aéreos para carga sensible al tiempo, utilizando rutas globales y ofreciendo visibilidad en tiempo real para garantizar rapidez, seguridad y cumplimiento internacional.</p>
            </div>
              <div class="elemento">
                <img 
                src={Img3.src}
                />
                <h5>Transporte Marítimo (Ocean Freight)</h5>
                <p>Brindamos soluciones de transporte marítimo rentables para carga consolidada y contenedores completos, apoyándonos en servicios de flete internacional confiables y una gestión integral de origen a destino.</p>
            </div>
           
        </div>
    </div>
</section>