---
import '../../styles/caracteristicas.css'
---

<section class="caract">
    <div class="caract-cont">
        <div class="car-grid">
           <div class="caja">
                <div class="caja-bg" style="background-image: url('../assets/serv1-2.webp');"></div>
                <div class="caja-overlay"></div>
                <div class="caja-content">
                    <h2>Ocean Freight</h2>
                    <p>At Vertex Freight Services, we provide cost-effective ocean freight solutions for consolidated cargo and full containers, relying on dependable international freight services and comprehensive origin-to-destination management.</p>
                </div>
            </div>
            <div class="caja">
                <div class="caja-bg" style="background-image: url('../assets/serv2-2.webp');"></div>
                <div class="caja-overlay"></div>
                <div class="caja-content">
                    <h2>Air Freight</h2>
                    <p>Vertex Freight Services manages air shipments for time-sensitive cargo, utilizing global routes and offering real-time visibility to ensure speed, security, and international compliance.</p>
                </div>
            </div>
            <div class="caja">
                <div class="caja-bg" style="background-image: url('../assets/serv3-2.webp');"></div>
                <div class="caja-overlay"></div>
                <div class="caja-content">
                    <h2>Trucking</h2>
                    <p>Vertex Freight Services drives your supply chain with reliable transnational ground transportation between Mexico, the United States, and Canada. We facilitate smooth border crossings and secure deliveries within each country, connecting your operations with efficiency, speed, and complete logistical support.</p>
                </div>
        </div>
    </div>
</section>